<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDUCALAB</title>
</head>
<body>
    <h1>EDUCALAB</h1>
    <ul>
        <li><a href="{% url 'index' %}">Index</a></li>
        <li><a href="{% url 'saludar' %}">Saludar</a></li>
        <li><a href="{% url 'saludo_per' 'Andrea' %}">Saludar a Andrea</a></li>
        <li><a href="{% url 'saludo_per' 'Pedro' %}">Saludar a Pedro</a></li>
        <li><a href="{% url 'suma' 10 15 %}">Sumar 10 + 15</a></li>
        <li><a href="{% url 'suma_formulario' %}">Formulario de Suma</a></li>
        <li><a href="{% url 'registro' %}"> Registro</a></li>
    </ul>
</body>
</html>
