<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito web</title>
</head>

<body>
    <table border="0" width="80%" align="center">
        <tr>
            <thead>

            </thead>
            <tbody>
                <thead>
                    <td><a href="{% url 'index' %}">Inicio</a></td>
                    <td><a href="{% url 'productos' %}">Productos</a></td>
                    <td><a href="{% url 'nosotros' %}">Nosotros</a></td>
                    <td><a href="{% url 'contactos' %}">Contactos</a></td>
                    <td><a href="{% url 'login' %}">Login</a></td>
                    <td><a href="{% url 'registro' %}">Registro</a></td>
                    <td><a href="{% url 'restaurar'%}">Recordar contraseña</a></td>
                </thead>
                <tr>
                    <td colspan="7" align="center">
                        <form action="contacto.py" method="post" style="border: 0px dashed red;">
                            <label for="nombre">Nombre</label><br>
                            <input id="nombre" type="text" placeholder="Albert Taborda" name="nombre"><br>
                            <label for="nacimiento">Fecha nacimiento</label><br>
                            <input id="nacimiento" name="nacimiento" type="date"><br>
                            <label for="correo">Correo</label><br>
                            <input id="correo" type="email" placeholder="albert@hotmail.com" name="correo"><br>
                            <label for="password">Contraseña</label><br> 
                            <input  id="password" name="password" type="password" placeholder="********"><br>                    
                            <button type="submit">Ingresar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" align="center">
                        <p>&copy; 2024 Carrito Web. Todos los derechos reservados.</p>
                    </td>
                </tr>
            </tfoot>
        </tr>
    </table>
    <main>

    </main>
    <footer>
        
    </footer>
</body>